.DS_Store
test_data/
*.pyc
*.egg-info/
.snakemake
__pycache__
dist/
build/

# Distribution / packaging
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

test/*results*
test/chr8.fa.gz
playground